@page "/"
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@inject DialogService DialogService
@inject ContextMenuService ContextMenuService
@inject TooltipService TooltipService
@inject NotificationService NotificationService
<PageTitle>Index</PageTitle>
<div class="row pt-5 px-5">
    <div class="col-12">
        
        <Blogspot />
        
    </div>
</div>

@code {
    
}
